@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: black;
}
body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--text-color);
  cursor: default;
  background-color: #000;
}

.background-wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url('../images/g-back.png');

  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/Grid.png');
  background-repeat: repeat;
  opacity: 0.15;
  pointer-events: none;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 3rem;
}


.logo {
  padding: 5px 15px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  transition: all 0.3s ease;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  padding: 0px 5px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  margin-left: 15px;
}

nav {
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  gap: 30px;
  position: relative;
}

.hover-this {
  transition: all 0.3s ease;
  position: relative;
}

.hover-this span {
  display: inline-block;
  font-weight: 400;
  color: var(--text-color);
  font-size: 14px;
  pointer-events: none;
  transform: none !important;
  text-transform: capitalize;
  font-size: 14px;
  color: #fff;
}

.cursor {
  pointer-events: none;
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
}

.cursor.hover-effect {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.089);
  transform: translate(-50%, -50%) scale(4);
}

.start-project{
  font-size: 14px;
  border-radius: 2.4rem;
  border: none;
  padding: 0.3rem 0.7rem;
}

.start-project a{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 0.7rem 1rem;
 
  
}
.start-project a img{
  width: 16px;
  height: 16 px;
}


.header-container {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 600;
  transition: all 0.4s ease;
}

.header-container.reset {
  position: absolute;
  top: 30px;
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.header-container.show {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.046);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  transition: all 0.4s ease;
}

.background-wrapper {
  position: relative;
  padding-top: 10px;
  transition: padding-top 0.4s ease;
}

.header-container.show + .main-content {
  padding: 80px 0px;
}
.left-section {
  display: flex;
  align-items: center;
  
}

.right-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.full-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 999;
  transition: left 0.5s ease;
  color: #fff;
}


.full-menu {
  left: -100%;
  transition: left 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  overflow: hidden;
}

.full-menu.active {
  left: 0;
}

.menu-left, .menu-right {
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

.full-menu.active .menu-left,
.full-menu.active .menu-right {
  transform: translateX(0);
}

.menu-links .text {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.full-menu.active .menu-links .text {
  opacity: 1;
  transform: translateY(0);
}

.menu-links .text:nth-child(1) { transition-delay: 0.3s; }
.menu-links .text:nth-child(2) { transition-delay: 0.4s; }
.menu-links .text:nth-child(3) { transition-delay: 0.5s; }
.menu-links .text:nth-child(4) { transition-delay: 0.6s; }
.menu-links .text:nth-child(5) { transition-delay: 0.7s; }

.menu-links a {
  position: relative;
  display: inline-block;
}



.menu-links a:hover {
  color: #808080;
}

.menu-links a:hover::after {
  width: 100%;
}

.menu-info > * {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.full-menu.active .menu-info > * {
  opacity: 1;
  transform: translateY(0);
}

.menu-info img { transition-delay: 0.5s; }
.menu-info .socials { transition-delay: 0.6s; }
.menu-info .info { transition-delay: 0.7s; }
.full-menu.active {
  left: 0;
}

.menu-left {
  width: 60%;
  
  background-color: #111;
  display: flex;
  padding:9rem;
  align-items: center;
}

.menu-right {
  width: 40%;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  padding: 12rem 0rem;
}
.menu-right .menu-info {
  width: 40%;
  margin: 0 auto;
}
.menu-links {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: start;
}
.menu-links .text{
  display: flex;
 
  align-items: center;
  justify-content: space-between;
}

.menu-links a {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #fff 50%, #A0A0A0 50%);
  background-size: 200% 100%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.4s ease;
}

.menu-links a:hover {
  background-position: right;
}


.menu-info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

.menu-info h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.menu-info p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.menu-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
 
  opacity: 0.2; 
  pointer-events: none;
}

.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.info p{
  font-size: 2rem;
}

.socials a {
  color: #fff;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.socials a:hover {
  color: #999;
}
.close-btn {
  position: absolute;
  top: 30px;
  padding: 0.85rem 2rem ;
border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  
  right: 40px;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
  transition: color 0.3s;
}

.close-btn i{
  font-size: 20px;
}

.close-btn:hover {
  color: #999;
}


.hero {
  margin-top: 15rem;
  display: flex;
  height: 120vh;
  justify-content: center;
 
 }

 .hero-left{
  width: 45%;
  padding-left: 3rem;
 }

 .hero-right{
  width: 55%;
 }
 

 
.hero-left h1{
  font-weight: 400;
  font-size: 100px;
    line-height: 96px;
    letter-spacing: -4px;

}

.hero-left h1 span{
  color: #808080;
}


.play-button{
  margin-top: 4rem;
  background-color: transparent;
  padding: 12px 25px;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.play-button:hover {
  transition: 0.5s all;
  background-color: var(--text-color);
  color: black;

}
.play-button:hover a{
  color: black;
}

.play-button a{
  color: white;
}

.play-button i{
  font-size: 20px;
}

.hero-description{
  width: 80%;
  margin-top: 10rem;

}

.hero-description p{
  font-size: 16px;
  font-weight: 400;
  margin: 0;

}
.hero-right {
  position: relative;
  display: flex;
  overflow: hidden;
 
}

.hero-right figure:nth-child(1) {
  position: relative;
  width: 110%;
  right: -160px;
  z-index: 1; 
  
}

.hero-right figure:nth-child(1) img {
  width: 100%;
}
.hero-right figure:nth-child(2) {
  position: absolute;
  top: 58%;
  left: 60px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.023);
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
  box-shadow: 4px 4px 4px rgba(109, 109, 109, 0.023);
  border-radius: 50%;
  transform: translateY(-50%);
}

.hero-right figure:nth-child(2) img {
  width: 280px;
  top: 60px;
}

@media (max-width: 992px) {
  .nav-wrapper {
   display: none;
  }

  .hero{
    flex-direction: column;
  }
  .hero-left{
    width: 100%;

  }
  .hero-right{
    width: 100%;
  }
  .hero-right figure:nth-child(1){
    width: 70%;
  }
  
  .hero-right figure:nth-child(2) img{
    width: 200px;
    position: absolute;
   
  }
  .hero-right figure:nth-child(2) {
    position: absolute;
    top: 35%!important;
    left: 156px!important;
    z-index: 2;}

  .hero-content h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0px;
  }


  .hero-content p {
    font-size: 16px;
  }
}

@media (max-width:576px) {
  .header{
    flex-direction: column;
  }
  
}